#titulo {
    color: black;
}

article .texto{
    color: black;
    
}

* {
    font-size: 15px;
    color: black;
}

#margen{
    margin: 15px 20px 25px 30px;
    padding: 30px 25px 20px 15px;

}
article .texto_especial{
    color: black;
    font-style: italic;
}

table {
    border-collapse: collapse;
    
}
th, td {
    border: solid 1px black;
    text-decoration: underline;
}
